{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true,
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-async-to-generator"
  ]
}
