/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/test_modules/node_modules
/test_modules/test-dependency
/test_modules/package-lock.json
/test_modules/yarn.lock
/benchmark/js
/benchmark/fixtures
/examples/*/js
/coverage
/dist
.DS_Store
*.log
.idea
.vscode
logs
npm-debug.log*
.eslintcache
/local
/reports
Thumbs.db
*.sublime-project
*.sublime-workspace
